.notes-section {
    margin-left: 10vw;
    justify-content: flex-end;
    width: 90vw;
    padding: 50px;
    background: none; /* Removed any background colors to prevent white box */
    border-radius: 15px;
    height: 100%;
    overflow-y: auto;
}
