/* Sidebar styles */
.sidebar {
  width: 10vw;
  background: linear-gradient(135deg, #8a2be2, #83B5D1);
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

/* Profile section */
.profile {
  text-align: center;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile .username {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Sidebar links */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: white;
  padding: 12px;
  border-radius: 5px;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #1768AC;
}

/* Logout Button */
.logout-btn {
  background-color: #03256C;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin: 5vh;
}

.logout-btn:hover {
  background-color: #1768AC;
}
