/*moved from homepage css file, added width and justify self*/

/* Sidebar with gradient */
.sidebar {
    justify-self: flex-start;
    width: 10vw;
    background: linear-gradient(135deg, #8a2be2, #ff6ec7);
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li a {
    color: white;
    padding: 12px;
    border-radius: 5px;
    display: block;
    text-align: center;
  }
  
  .sidebar ul li a:hover {
    background-color: #da5fd2;
  }
  
  /* Fix Logout Button Position */
  .logout-btn {
    background-color: #ff0080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .logout-btn:hover {
    background-color: #ff4f92;
  }